/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&family=Quicksand:wght@300;600&display=swap');



/* Universal styles */ 

body, div {
    margin: 0 auto;
}

main {
    margin: 0 auto;
    background-color: #FFFFFF;
}

main p {
    margin: 0 18px;
}

h1, h2, h3, h4, a {
    font-family: "chakra petch", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 40px;
    color: #25AB00
}

h2 {
    font-size: 30px;
    color: #0487D9;
    margin-bottom: -10px;
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
}

h3 {
    font-size: 25px;
    color: #25AB00;
}

p, label {
    font-family: "quicksand", Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

a {
    color: #25AB00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p, a, label {
    font-size: 20px;
}

div p {
    margin-top: 20px;
}

span {
    font-weight: 600;
}

/* Navigation */
.main-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    max-width: 390px;
    
}

.main-nav a {
    font-size: 19px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

header {
    background-color: #59B5D9;

}

.header {
    background: url("../images/mobile/homepage-header-mobile1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 264px;
}

.header-logo {
    background-color: #ffffffca;
    min-height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo h2, .header-logo h3 {
    color:#25AB00;
    margin: 0 auto;
}

.header-logo h3{
    font-size: 20px;
}

#current {
    font-weight: 700;
    text-decoration: underline;
}

/* CTA */

.cta-button {
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #25AB00;
    padding: 5px 25px;
    border-radius: 50px;
    
}

.cta-button:hover {
    background-color: #F2B705;
}

.button-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

/* Home page */
.homepage-explore-together p, .homepage-explore-together {
    text-align: center;
}

.container {
    margin-bottom: 50px;
}

.explore-kids {
    background-image: url("../images/homepage-explore1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 390px;
}

.homepage-exhibitions {
    background-image: url("../images/homepage-exhibitions.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 390px;
}

.explore-teachers {
    background-image: url("../images/homepage-explore2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 390px;
}

.explore-researchers {
    background-image: url("../images/mobile/explore-research-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 390px;
}

/* Explore page */ 
.explore-page-button {
    padding: 5px 15px;
    font-size: 15px;
    margin: 0px 5px;
}

.explore-categories, .exhibition-nav {
    display: flex;
    justify-content: center;
}

/* Exhibitions page */
.exhibition-nav img {
    margin: 4px;
}

.exhibitions-style {
    background-color: #000000;
    color:#FFFFFF;
}

.exhibitions-style h1 {
    color: #F2B705;
}

.exhibitions-style h2 {
    color: #FFFFFF;
}

.icon-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 350px;
}

.icon-astro {
    background-image: url("../images/icon-astro.png");
}

.icon-dino {
    background-image: url("../images/icon-dino.png");
}

.icon-bio {
    background-image: url("../images/icon-bio.png");
}

.icon-robo {
    background-image: url("../images/icon-robo.png");
}

.icon-eco {
    background-image: url("../images/icon-eco.png");
}

.exhibition-dino-style {
    background-color: #EFCD66;
}


.exhibition-dark h2, .exhibition-dark {
    color: #000000
}

.exhibition-dark, .exhibition-astro-style, .exhibition-bio-style, .exhibition-eco-style {
    padding: 30px 0px;
}

.exhibition-bio-style {
    background-color: #0B70AF;
}

.exhibition-robo-style {
    background-color: #B1B1B1;
}

.exhibition-eco-style {
    background-color: #1A7601;
}

/* About page */

.header-about {
    background-image: url("../images/mobile/about-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 70%;
}

.about-opening-hours p {
    padding: 12px 0px;
}

.about-location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    display: block;
    margin: 10px 0px 0px 0px;
}

.contact-form input, .contact-form textarea {
    width: 290px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
}

.contact-form textarea {
    height: 170px;
}

.message-sent {
    display: none;
    background-color: #0487D9;
    margin-top: -36px;
}

#send-message:checked ~ .send-message {
    display: none;
}

#send-message:checked ~ .message-sent {
    display: block;
} 

#send-message {
    display: none;
}

.send-message, .message-sent {
    font-family: "chakra petch", Georgia, 'Times New Roman', Times, serif;
}


/* Footer */ 

footer {
    background-color: #59B5D9;
    text-align: center;
    padding-top: 0.5px;
    padding-bottom: 30px;
}

footer p {
    text-align: center;
}

footer h2, footer p, footer h3 {
    color: #FFFFFF
}

footer h2 {
    margin: 50px 0px 5px 0px;
}

footer a {
    display: block;
    text-decoration: none;
    color:#FFFFFF
}

footer a:hover {
    color:#ffffffa7;
}

.opening-hours {
    max-width: 288px;
    margin: -30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer-container p {
    margin: -15px auto;
    padding: 10px;
    font-weight: 600;
}

.footer-icon {
    margin-top: 45px;
}

.footer-icon * {
    margin: 0;
}

.footer-icon h4 {
    font-size: 17px;
}
