/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&family=Quicksand:wght@300;600&display=swap');



/* Universal styles */ 

body, div, section, main {
    margin: 0 auto;
}

main {
    background-color: #FFFFFF;
}

main p {
    margin: 0 18px;
}

h1, h2, h3, h4, a {
    font-family: "chakra petch", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 40px;
    color: #25AB00;
}

h2 {
    font-size: 30px;
    color: #0487D9;
    margin-bottom: -10px;
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
}

h3 {
    font-size: 25px;
    color: #25AB00;
}

p, label, .contact-form input, .contact-form textarea  {
    font-family: "quicksand", Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

a {
    color: #1A7601;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p, a, label, .contact-form input, .contact-form textarea {
    font-size: 20px;
}

div p {
    margin-top: 20px;
}

span {
    font-weight: 600;
}

.hidden {
    display: none;
}

/* Navigation */
.main-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    max-width: 500px;
}

.main-nav a {
    font-size: 19px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

header {
    background-color: #0B70AF;
}

header > a:hover {
    text-decoration: none;
}

.header {
    background: url("../images/mobile/homepage-header-mobile1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 264px;
}

.header-logo {
    background-color: #ffffffca;
    min-height: 264px;
    display: flex;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo h2, .header-logo h3 {
    color:#25AB00;
    margin: 0 auto;
}

.header-logo h3{
    font-size: 20px;
}

#current {
    font-weight: 700;
    text-decoration: underline;
}

/* CTA */

.cta-button {
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #25AB00;
    padding: 5px 25px;
    border-radius: 50px;
    
}

.cta-button:hover {
    background-color: #1A7601;
}

.button-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

/* Home page */
.homepage-explore-together p, .homepage-explore-together {
    text-align: center;
    max-width: 510px;
}

.layout-homepage {
    max-width: 425px;
}

.container {
    margin-bottom: 50px;
}

.opacity-none {
    opacity: 0;
    content: "";
}

.explore-kids, .homepage-exhibitions, .explore-teachers, .explore-researchers {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width: 390px;
}

.explore-kids {
    background-image: url("../images/homepage-explore1.jpg");

}

.homepage-exhibitions {
    background-image: url("../images/homepage-exhibitions.jpg");
}

.explore-teachers {
    background-image: url("../images/homepage-explore2.jpg");
}

.explore-researchers {
    background-image: url("../images/mobile/explore-research-mobile.jpg");
}

/* Explore page */ 
.explore-page-button {
    padding: 5px 15px;
    font-size: 15px;
    margin: 0px 5px;
}

.explore-categories, .exhibition-nav {
    display: flex;
    justify-content: center;
}

.explore-layout {
    max-width: 430px;
}

/* Exhibitions page */
.exhibition-nav img {
    margin: 4px;
}

.exhibitions-style {
    background-color: #000000;
    color:#FFFFFF;
}

.exhibitions-style h1 {
    color: #F2B705;
}

.exhibitions-style h2 {
    color: #FFFFFF;
}

.exhibition-text {
    max-width: 500px;
}

.icon-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 350px;
}

.icon-astro {
    background-image: url("../images/icon-astro.png");
}

.icon-dino {
    background-image: url("../images/icon-dino.png");
}

.icon-bio {
    background-image: url("../images/icon-bio.png");
}

.icon-robo {
    background-image: url("../images/icon-robo.png");
}

.icon-eco {
    background-image: url("../images/icon-eco.png");
}

.exhibition-dark h2, .exhibition-dark p {
    color: #000000
}

.exhibition-dino-style {
    background-color: #EFCD66;
}

.exhibition-dark, .exhibition-astro-style, .exhibition-bio-style, .exhibition-eco-style {
    padding: 30px 0px;
}

.exhibition-bio-style {
    background-color: #0B70AF;
}

.exhibition-robo-style {
    background-color: #B1B1B1;
}

.exhibition-eco-style {
    background-color: #1A7601;
}

.exhibition-nav img {
    height: 60px;
}

/* About page */

.header-about {
    background-image: url("../images/mobile/about-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 70%;
}

.about-layout, .about-text {
    max-width: 500px;
}

.about-text {
    margin: 5px auto;
    padding: 10px 18px;
}

.about-opening-hours p {
    padding: 12px 0px;
}

.about-location, .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    display: block;
    margin: 10px 0px 0px 0px;
}

.contact-form input, .contact-form textarea {
    width: 290px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
}

.contact-form textarea {
    height: 170px;
}

/* Send message-button for contact form */

label[for="send-message"]{
    font-family: "chakra petch", Georgia, 'Times New Roman', Times, serif;
}

.send-message, #send-message {
    display: inline;
}

#message-sent {
    display: none;
    background-color: #0B70AF;
    padding: 5px 26px;
}

#send-message:checked ~ #message-sent {
    display: block;
}

#send-message:checked ~ #send-message-button {
    display: none;

}

#send-message {
    display: none;
}


/* Footer */ 

footer {
    background-color: #0B70AF;
    text-align: center;
    padding-top: 0.5px;
    padding-bottom: 30px;
}

footer p {
    text-align: center;
}

footer h2, footer p, footer h3, footer a {
    color: #FFFFFF
}

footer h2 {
    margin: 50px 0px 5px 0px;
}

footer a {
    display: block;
    text-decoration: none;
}

footer a:hover {
    color:#ffffffa7;
}

.opening-hours {
    max-width: 288px;
    margin: -30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer-container p {
    margin: -15px auto;
    padding: 10px;
    font-weight: 600;
}

.footer-icon {
    margin-top: 45px;
}

.footer-icon * {
    margin: 0px;
}

.footer-icon h4 {
    font-size: 17px;
}

@media (min-width: 882px) {

    /* general */
    p, .container {
        max-width: 900px;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header div {
        margin: 0;
    }

    header .header-text {
        margin: 0 auto;
    }

    .header-logo h2 {
        font-size: 50px;
    }
    
    .header-logo h3{
        font-size: 33px;
    }

    main {
        max-width: 1500px;
    }

    .hidden {
        display: block;
    }

    .hidden-desktop, .header-about, .footer-link {
        display: none;
    }

    /* Home page */
    .header {
        background-image: url("../images/desktop/homepage-header.jpg");
        background-position: right;
        min-height: 400px;
        order: 1;
    }

    .main-nav {
        order: 2;
        min-width: 500px;
    }

    .header-logo {
        min-height: 400px;
    }

    .header-text {
        display: flex;
        flex-direction: row;
    }

    .header-heading {
        margin-left: 25px;
    }

    .homepage-explore-together {
        max-width: 510px;
    }

    .layout-container {
        display: flex;
        flex-wrap: wrap;
    }


    .layout-homepage {
        max-width: 450px;
    }

    .explore-kids, .homepage-exhibitions, .explore-teachers, .explore-researchers {
        border-radius: 25px;
    }

    /* Explore page */
    .explore-layout {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 1px;
        gap: 50px
    } 

    .explore-layout .container {
        margin-top: -32px;
    }
    .resize-image {
        height: 200px;
        width: 300px;
    }

    .explore-layout .container h2 {
        text-align: left;
        margin-left: 20px;
    }

    /* Exhibition page */
    .header-heading h2 {
        color: #25AB00;
    }

    .exhibition-astro-style, .exhibition-dino-style, .exhibition-bio-style, .exhibition-robo-style, .exhibition-eco-style {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
        margin: 30px 30px;
        border-radius: 25px;
    }

    .exhibition-text, .about-text {
        max-width: 900px;
    }

    .exhibition-text h2 {
        text-align: left;
        margin-left: 19px;
    }

    .exhibition-nav img {
        margin: 0px 20px;
        height: 130px;
    }

    /* About page */
    .about-desktop {
        background-image: url("../images/desktop/about-web.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 374px;
        max-width: 882px;
    }

    .about-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 800px;

    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-icon {
        flex-direction: column;
        order: 1;
    }

    .footer-opening-hours {
        order: 2;
    }

    .footer-address {
        order: 3;
    }

    .footer-social {
        order: 4;
    }

    .opening-hours span {
        padding-right: 20px;
    }

    .footer-copyright {
        margin-top: 50px;
    }

}


